
.message h6 {
  padding: 0;
  margin: 0;
  margin-top: 1em;
}

.message .text {
  font-size: 1.2em;
}

.message .note {
  font-size: 0.8em;
  color: #8a8a8a;
  padding: 0;
  margin: 0;
}


.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.user-profile.large img {
  width: 50px;
  height: 50px;
}
