<md-toolbar>
  <div class="md-toolbar-tools" layout >
    <md-button hide-gt-md class="md-icon-button">
      <ng-md-icon layout layout-align="center center" icon="menu"></ng-md-icon>
    </md-button>

    <h3>{{room.name}}</h3>
  </div>
</md-toolbar>

<md-content>

  <div layout="column" layout-fill layout-margin>

    <md-card>
      <md-card-content>
        <md-list>
          <md-item ng-repeat="message in messages">
            <md-item-content>
              <div>
                <h6>{{message.user.name}}</h6>
                <p>{{message.message}}</p>
                <p>{{message.when}}</p>
              </div>
            </md-item-content>
            <md-divider></md-divider>
          </md-item>
        </md-list>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-content>
          <md-input-container>
            <label>Write a message... (hit enter to send)</label>
            <input ng-model="newMessage" ng-keypress="sendMessage($event, newMessage)">
          </md-input-container>
      </md-card-content>
    </md-card>

  </div>
</md-content>
