<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button hide-gt-md class="md-icon-button" ng-click="toggleMenu('left')">
      <ng-md-icon layout layout-align="center center" icon="menu"></ng-md-icon>
    </md-button>

    <h3>{{room.name}}</h3>
  </div>
</md-toolbar>

<md-content flex md-scroll-y>
  <ui-view layout="column" layout-fill layout-padding>

    <md-card>
      <md-card-content>
        <div ng-show="!messages[0]">There are no messages yet in this room. Be the first to post something!</div>
        <md-list>
          <md-item class="message" ng-repeat="message in messages">
            <md-item-content>
              <div layout="row" layout-align="start center" class="user-profile large">
                <img ng-src="{{message.user.avatar}}" layout layout-margin>
                <div layout-margin>
                  <h6>{{message.user.name}}</h6>
                  <p class="text">{{message.message}}</p>
                  <p class="note">{{message.when|date:'medium'}}</p>
                </div>
              </div>
            </md-item-content>
          </md-item>
        </md-list>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-content>
          <md-input-container>
            <label>Write a message... (hit enter to send)</label>
            <input ng-model="newMessage" ng-keypress="sendMessage($event, newMessage)">
          </md-input-container>
      </md-card-content>
    </md-card>

  </ui-view>
</md-content>
